* {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4 {
  font-family: "Abril Fatface", cursive;
}

p {
  font-family: "Lato", sans-serif;
}

.first-text {
  color: orangered;
}

.flex {
  display: flex;
  /* margin-bottom: 20px; */
}

.banner-text h1 {
  font-size: 70px;
  margin-top: 20%;
}
h2 {
  font-size: 50px;
}
.half-width {
  width: 50%;
  padding-left: 20px;
}

.half-width img {
  width: 90%;
  object-fit: cover;
}

.first-para {
  margin-bottom: 50px;
}
.link-button {
  background-image: linear-gradient(tomato, orange);
  padding: 15px 40px;
  text-decoration: none;
  color: white;
  font-weight: 800;
  border-radius: 1px 1px 33px 10px gray;
}

.heading-two {
  font-size: 50px;
  margin-top: 30%;
}

.heading-two-para {
  width: 70%;
  margin-bottom: 50px;
}

.second-banner {
  background-image: url(./img/second-bg.png);
  height: 100vh;
  margin-top: 15%;
  background-repeat: no-repeat;
  background-size: contain;
}

.girl-image {
  margin-left: 80px;
}
/* .third-section {
  width: 90%;
  margin: 0 auto;
  border: 1px solid gray;
} */

.card {
  border-radius: 30px;
  box-shadow: 10px 10px 20px grey;
  padding: 30px;
  width: 40%;
  margin: 0 auto;
}
.card img {
  width: 90%;
  padding: 20px;
}

.recipes-sec {
  width: 70vw;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 30px;
}

.my-recipes-para {
  padding: 20px 20px 20px 30px;
}

.recipe-title h3 {
  padding-top: 20px;
}

.recipe-title p {
  padding: 20px 0;
}

.width {
  width: 40%;
  padding-left: 10%;
}

.social {
  margin: 0 auto;
  margin-top: 5%;
  margin-bottom: 5%;
  height: 100%;
  padding: 6%;
  width: 80%;
  box-shadow: 10px 10px 10px gray;
}

.social h2 {
  font-size: 30px;
  padding-bottom: 10px;
}
